<a href="/">Voltar</a>
<h2>Editar nota: {{note.title}}</h2>
<form action="/update" method="post">
<input type="hidden" name="id" value="{{note._id}}">
  <div class="mb-3">
    <label for="title" class="form-label">Título:</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="O que você pretende fazer hoje?" value="{{note.title}}">
  </div>
    <div class="mb-3">
    <label for="description" class="form-label">Descrição:</label>
    <textarea name="description" id="description" class="form-control" placeholder="Descreva...">{{note.description}}</textarea>
  </div>
  <button type="submit" id="submit" class="btn btn-primary">Editar nota</button>
</form>

<script src="/js/bundle.js"></script>
